* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  color: #fff;
}

nav {
  position: relative;
  height: 25px;
  padding: 18px 35px;
}

nav img {
  position: absolute;
  top: 50%;
  left: 35px;
  width: 175px;
  transform: translate(0, -50%);
}

nav button {
  position: absolute;
  top: 50%;
  right: 35px;
  width: 100px;
  height: 35px;
  background-color: #02a7f7;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  transform: translate(0, -50%);
}

#movie-article {
  display: grid;
  grid-template-columns: 40% 60%;
}

#poster-section {
  margin: 20px 0;
  text-align: center;
}

#poster-section img {
  height: 85vh;
}

#info-section {
  margin: 20px 0;
  padding-right: 40px;
  /* background-color: red; */
}

#info-section h1 {
  display: inline-block;
  font-size: 3cqmax;
  margin-bottom: 10px;
}

.releas-date {
  display: inline-block;
  font-size: 0.8rem;
  padding-left: 7px;
  color: #c1c1c1;
}

.film-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #000;
  border-radius: 15px;
  box-shadow: 3px 3px 30px 2px #02a5f7bc;
  /* height: 32vh;
  line-height: 32vh; */
  text-align: center;
}

.film-box img {
  /* vertical-align: middle; */
  padding: 20px 30px;
}

.back-porster {
  /* height: 26vh; */
  /* border-radius: 30px; */
}

.film-bar {
  /* height: 30vh; */
}

.info-box {
  padding: 10px;
}

.vote-star {
  padding-top: 10px;
}

.vote-star img {
  width: 30px;
}

.vote-star {
  display: inline-block;
  font-size: 2rem;
}

.plot {
  display: inline-block;
  margin: 15px 0 0 20px;
  width: 80%;
  font-size: 15px;
}

#review-box {
  height: 30px;
  border: 2px solid #02a7f7;
}

#link-box {
  /* background-color: red; */
  text-align: right;
}

#link-box img {
  width: 8%;
  padding-left: 20px;
}
