html {
  height: 100%;
  /* rgb(18,148,243) */
  font-size: 10px;
}

body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: black;
}

body * {
  /* color: rgb(18, 148, 243); */
  color: #fff;
  font-size: 2rem;
  text-align: center;
}
input {
  background-color: initial;
  width: 100%;
  height: 50px;
  border: transparent;
  text-align: left;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: transparent !important;
}

header {
  position: absolute;
  top: 36px;
  left: 36px;
}
header > a > img {
  width: 130px;
}

h1 {
  font-size: 3rem;
}
.mainHolder {
  max-width: 460px;
  min-width: 290px;
  width: auto;
  margin: 0 auto;
  border-radius: 7px;
  width: 100%;
}
.userImgWrap {
  width: 200px;
  height: 200px;
  border-radius: 300px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 20px;
}
.userImg {
  width: 100%;
  height: 100%;
}
#inputImage {
  display: none;
}
label {
  position: absolute;
  left: 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
  /* background-color: blue; */
  cursor: pointer;
}
input::file-selector-button {
  visibility: hidden;
  width: 100%;
  height: 100%;
  left: 0;
}

.inputWrap {
  width: 100%;
  display: flex;
  margin-top: 20px;
  border: 1px solid #fff;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}
.inputLabel {
  flex: 1;
  display: flex;
  align-items: center;
}
.defaultInput {
  width: 100%;
  display: block;
  flex: 3;
  text-align: left;
}

#signOut {
  background-color: transparent;
  border: 0;
  width: 100%;
  height: 50px;
  border: 1px solid #fff;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
}
#confirm {
  background-color: rgb(18, 148, 243);
  width: 100%;
  height: 50px;
  border: none;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
}
